.nav{
    width: 90%;
    font-size: 1rem;
    display: flex; 
    margin: 0 5%;  
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
    
.navbar-collapse {  
    justify-content: space-between;   
}

.logo{
    width: 40px;
    border-radius: 12%;
    margin: 0 22%;
}



