.nav{
    width: 90%;
    font-size: 1rem;
    padding: 2%;
    display: flex; 
    margin-left: 7%;  
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;}
    
.navbar-collapse {  
    justify-content: space-evenly;
   
}  



